.li {
  width: 350px;
  height: 200px;
  background-color: #fcd5ce;
  border-radius: 2rem;
}

.h3 {
  font-size: 1.3rem;
  /* padding: 1rem; */
}

.todo {
  display: flex;
  flex-direction: column;
  color: var(--color-light-gray);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
